<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue demo</title>
<!--  引入本地vue文件-->
  <script src="vue3.js"></script>
</head>
<body>

<!--对标签做Dom操作-->
<!--VUE去操作DOM,先设定一个区域,一般使用div设置一个ID-->
<div id="app">
<!--  相当于模板语法的渲染-->
    <p>消息: {{msg}} </p>
<!--    v-html会渲染HTML标签-->
    <p>网站: <span v-html="link">{{link}}</span></p>
    
    <p>input标签</p>

    <input type="text" value="默认值">
    <p></p>
<!--    v-model绑定数据-->
    <input type="text" v-model="data">
    <p></p>
<!--    联动效果-->
    <input type="text" v-model="msg">
    
<!--    v-bind-->
    <p>
        <img src="img/01.jpeg" alt="">
    </p>

    <p>
<!--        v-bind完整写法-->
        <img v-bind:src="url" alt="">
    </p>

    <p>
        <!--        v-bind简写-->
        <img :src="url" alt="">
    </p>

<!--    v-bind:value也是可以但是不会联动   v-bind是单向绑定,v-model是双向绑定-->
    <p><input type="text" :value="msg"></p>

</div>


<script>
  // 创建Vue对象,{}里边填写参数,对那个进行操作mount(#xxxx)
  //数据驱动页面 Vue的设计哲学
  //第一个参数data
  //创建一个app
  //然后模板
  //再渲染
  vm = Vue.createApp({
    data(){
            return {
                msg:"hello Vue",
                link:"<a href='https://www.baidu.com/'>百度</a>",
                data:"123",
                url:"img/01.jgeg"
            }
         },
  }).mount("#app")
</script>



</body>
</html>