<!--继承base-->
{{template "base.html" .}}

<!--重写盒子-->
<!--title-->
{{define "title"}}
<title>{{.stu.Name}}的个人详情</title>
{{end}}

<!--head-->
{{define "navbar"}}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">学生选课系统</a>
        </div>
    </div>
</nav>
{{end}}

<!--menu-->
{{define "menu"}}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    您好,{{.stu.Name}}
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p><a href="/student/{{.stu.Sno}}">{{.stu.Name}}的个人信息</a></p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    选课管理
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <p><a href="/student/selectCourse/{{.stu.Sno}}">{{.stu.Name}}的课程管理</a></p>
            </div>
        </div>
    </div>
</div>
{{end}}

<!--content-->
{{define "content"}}
<!--自定义变量-->
{{$stu := .stu}}
<p>
<h3>{{$stu.Name}}的个人信息</h3>
</p>
<table class="table table-hover">
    <tr>
        <th>姓名</th>
        <th>学号</th>
        <th>性别</th>
        <th>手机号</th>
        <th>生日</th>
        <th>班级</th>
        <th>备注</th>
    </tr>
    <tr>
        <td>{{$stu.Name}}</td>
        <td>{{$stu.Sno}}</td>
        {{if eq $stu.Gender 0}}
        <td>女</td>
        {{else}}
        <td>男</td>
        {{end}}
        <td>{{$stu.Tel}}</td>
        <td>{{$stu.Birth}}</td>
        <td>{{$stu.Class.Name}}</td>
        <td>{{$stu.Remark}}</td>
    </tr>

</table>
<p>
    <a href="/student">
        <input type="submit" value="返回" class="btn btn-primary pull-right">
    </a>
</p>



{{end}}