<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue demo</title>
<!--  引入本地vue文件-->
  <script src="vue3.js"></script>
</head>
<body>

<!--对标签做Dom操作-->
<!--VUE去操作DOM,先设定一个区域,一般使用div设置一个ID-->
<div id="app">
<!--  相当于模板语法的渲染-->
    <p>消息: {{msg}} </p>
<!--    v-html会渲染HTML标签-->
    <p>网站: <span v-html="link">{{link}}</span></p>
    
    <p>input标签</p>

    <input type="text" value="默认值">
    <p></p>
<!--    v-model绑定数据-->
    <input type="text" v-model="data">
    <p></p>
<!--    联动效果-->
    <input type="text" v-model="msg">
    
<!--&lt;!&ndash;    v-bind&ndash;&gt;-->
<!--    <p>-->
<!--        <img src="img/01.jpeg" alt="">-->
<!--    </p>-->

<!--    <p>-->
<!--&lt;!&ndash;        v-bind完整写法&ndash;&gt;-->
<!--        <img v-bind:src="url" alt="">-->
<!--    </p>-->

<!--    <p>-->
<!--        &lt;!&ndash;        v-bind简写&ndash;&gt;-->
<!--        <img :src="url" alt="">-->
<!--    </p>-->

<!--&lt;!&ndash;    v-bind:value也是可以但是不会联动   v-bind是单向绑定,v-model是双向绑定&ndash;&gt;-->
<!--    <p><input type="text" :value="msg"></p>-->

<!--&lt;!&ndash;    案例1&ndash;&gt;-->
<!--    <p>-->
<!--        <a :href="link1">{{site}}</a>-->
<!--        网站名称 <input type="text" v-model="site">-->
<!--        url地址 <input type="text" v-model="link1">-->
<!--    </p>-->

<!--    js表达式-->
<!--    显示人的虚岁-->
    <p>
<!--        在js中两个数字是可以相加的-->
<!--        里边放的是表达式,不是语句-->
        年龄:{{age + 1}}
    </p>

    <p>
<!--        三元运算,如果登录成功了显示admin用户,登录失败了显示guest用户,可以理解为if else语句-->
        是否登录{{is_login?user:guest}}
    </p>

<!--    让城市倒序显示   字符串方法-->
    <p>
        {{citys.split(" ").reverse().join(",")}}
    </p>

</div>


<script>
  // 创建Vue对象,{}里边填写参数,对那个进行操作mount(#xxxx)
  //数据驱动页面 Vue的设计哲学
  //第一个参数data
  //创建一个app
  //然后模板
  //再渲染
  vm = Vue.createApp({
    data(){
            return {
                msg:"hello Vue",
                link:"<a href='https://www.baidu.com/'>百度</a>",
                data:"123",
                url:"img/01.jgeg",
                link1:"https://www.baidu.com/",
                site:"百度",
                age:23,
                is_login:true,
                user:"admin",
                guest:"guest",
                citys:"北京 上海 深圳 广州",

            }
         },
  }).mount("#app")
</script>



</body>
</html>