<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue demo</title>
<!--  引入本地vue文件-->
  <script src="vue3.js"></script>

    </style>
</head>
<body>

<!--对标签做Dom操作-->
<!--VUE去操作DOM,先设定一个区域,一般使用div设置一个ID-->
<div id="app">

    <h3>四大名著</h3>
    <p>{{books}}</p>

<!--    原生js实现-->
    <ul>
        <li>{{books[0]}}</li>
        <li>{{books[1]}}</li>
        <li>{{books[2]}}</li>
        <li>{{books[3]}}</li>
    </ul>

<!--  v-for循环  -->
    <ul>
<!--        循环取值,定义一个book in 数据books-->
        <li v-for="book in books">{{book}}</li>
    </ul>

    <ul>
        <!--        循环取值和索引,定义一个book in 数据books ,使用js表达式让索引加1-->
        <li v-for="(b,i) in books">序号:{{i + 1}} : {{b}}</li>
    </ul>

<!--    table 展示书籍和价格-->
    <table>
        <tr>
            <td>序号</td>
            <td>书籍名称</td>
            <td>书籍价格</td>
        </tr>
        <tr>

        </tr>
    </table>

</div>


<script>
  // 创建Vue对象,{}里边填写参数,对那个进行操作mount(#xxxx)
  //数据驱动页面 Vue的设计哲学
  //第一个参数data
  //创建一个app
  //然后模板
  //再渲染
  vm = Vue.createApp({
    data(){
            return {
                books:["西游记","水浒传","三国演义","红楼梦","金瓶梅"],
                books2:[{title:"西游记",price:36},{title:"三国演义",price:38},{title:"红楼梦",price:56}],

            }
         },
  }).mount("#app")
</script>



</body>
</html>